<script lang="ts">
    export let id: string | number;
    export let onClick: (id: string | number) => void;
</script>

<button class="item p-small" on:click={() => onClick(id)}>
    <slot></slot>
</button>