<script lang="ts">
  import "./styles.scss";
  import Element from "./element.svelte";
  export let list: { label: string;  }[];
  export let onSelect: (label: string | number) => void;
  export let selected: string | number | undefined;
</script>

<div class="content-layout">
  <h6 class="header"><slot name="Header"></slot></h6>
  {#each list as element}
    <div class="row">
      <Element id={element.label} onClick={onSelect}>
        {element.label}
        {selected === element.label ? "✅" : "❌"}
      </Element>
    </div>
  {/each}
</div>
