<script lang="ts">
  import { merge, filter, combineLatest } from "rxjs";
  import { Develop, Media } from "../../state";
  import { AvaibleTracksReplacer } from "@logic-modules/AvaibleTracksReplacer";
  import { selectedAudio$, selectedVideo$ } from "@state/Media";

  let debug: boolean = Develop.debug$.value;

  Develop.debug$.subscribe((value) => {
    debug = value;
  });
  let debugVideo: HTMLVideoElement | undefined;

  const runTest = async () => {
    const source = await AvaibleTracksReplacer.getOriginalTracks({
      audio: true,
      video: true,
    })
      .then((mediaStream) => {
        return mediaStream
          .getTracks()
          .map((track) => {
            return [
              selectedAudio$.value?.label,
              selectedVideo$.value?.label,
            ].includes(track.label)
              ? track
              : undefined;
          })
          .filter(Boolean);
      })
      .then((tracks) => {
        const mediaStream = new MediaStream();
        tracks.forEach((track) => mediaStream.addTrack(track));
        return mediaStream;
      });
    debugVideo.srcObject = source;
    debugVideo.play();
  };
</script>

<div style="display: {debug ? 'initial' : 'none'}">
  <button on:click={runTest}>test</button>
  <video bind:this={debugVideo}>
    <track kind="captions" />
  </video>
</div>
