<script lang="ts">
  import "./styles.scss";
  import { PopUp } from "@state";
  import { clickOutside } from "@directives/clickOutside";
  import type { BehaviorSubject } from "rxjs";

  export let popUpState$:  BehaviorSubject<PopUp.DispayEnum> ;
  export let onClickOutside: (e?: HTMLElement) => void = (e) => {};

  let popUpState:PopUp.DispayEnum = popUpState$.value;

  popUpState$.subscribe((v) => {
    popUpState = v;
  })
</script>

<div class="modal m-0 p-0 d-flex  justify-content-center  align-content-center"  style="display:{popUpState} !important">
  <div  use:clickOutside={onClickOutside}>
    <slot />
</div>

</div>
