<script lang="ts">
  import icon from "@assets/icon.png";
  import {  Media, PopUp } from "@state";
  import ContentLayout from "@common/ContentLayout/index.svelte";
  import List from "@common/List/index.svelte";
  import DebugVideo from "@lib/DebugVideo/index.svelte";
  import { DispayEnum } from "@state/PopUp";
  import Modal from "@common/Modal/index.svelte";
    import { AvaibleTracksReplacer } from "@logic-modules/AvaibleTracksReplacer";
    import { confirmTracks$, selectedAudio$, selectedVideo$ } from "@state/Media";
    import { lastValueFrom, take } from "rxjs";


  let videoList: MediaDeviceInfo[] = [];
  let audioList: MediaDeviceInfo[] = [];

  Media.videos$.subscribe((value) => (videoList = value));
  Media.audios$.subscribe((value) => (audioList = value));

  let selectedVideo: MediaDeviceInfo = undefined;
  let selectedAudio: MediaDeviceInfo = undefined;

  Media.selectedVideo$.subscribe((value) => (selectedVideo = value));
  Media.selectedAudio$.subscribe((value) => (selectedAudio = value));

  Media.refreshDevicesList$.next();

  const onVideoSelected = (id: string | number) => {
    Media.selectedVideo$.next(videoList.find((v) => v.label == id));
  };

  const onAudioSelected = (id: string | number) => {
    Media.selectedAudio$.next(audioList.find((v) => v.label == id));
  };


  </script>

<main>
  <Modal popUpState$={PopUp.display$} onClickOutside={(e) => {PopUp.display$.next(DispayEnum.none)}}>
      <ContentLayout>
        <div class="d-flex justify-content-center m-2">
          <img src={icon} alt="Project Icon" class="logo" />
        </div>
        <List
          list={videoList}
          onSelect={onVideoSelected}
          selected={selectedVideo?.label}
        >
          <div slot="Header">
            Video tracks
            <button on:click={() => Media.selectedVideo$.next(undefined)}
              >🗑️</button
            >
          </div>
        </List>
        <List
          list={audioList}
          onSelect={onAudioSelected}
          selected={selectedAudio?.label}
        >
          <div slot="Header">
            Audio tracks
            <button on:click={() => Media.selectedAudio$.next(undefined)}
              >🗑️</button
            >
          </div>
        </List>
        <DebugVideo />
        <button on:click={() => {Media.confirmTracks$.next(); PopUp.display$.next(PopUp.DispayEnum.none)}}>Confirm</button>
      </ContentLayout>
  </Modal>
</main>
