<script lang="ts">
    import { currentTab$, refreshTabs$ } from "@state/tabs";
    if (chrome.scripting) {
        let currentTab = currentTab$.getValue();
        currentTab$.subscribe((v) => {
            if(!v) {
                return;
            }
            chrome.scripting.executeScript(
                {
                    target: { tabId: v.id, allFrames: true },
                    func: () => {},
                },
                () => {}
            );
        });
        refreshTabs$.next();
    }
</script>

<main>
    <button> ЖМАК </button>
</main>
